body {
  background: #3f3f3f;
  font-family: "Alata", sans-serif;
  overflow-y: scroll;
}

input {
  font-family: inherit;
}

#container {
  margin: auto;
}

#card {
  background-image: url("duplas_otimizado.png");
  width: 100%;
  padding-top: 125%;
  position: relative;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%;
  border-radius: 5px;
}

#card_content {
  position: absolute;
  top: 0;
  padding-top: 40%;
}

#card_image {
  width: 100%;
}

#card_text {
  margin: 2%;
  background: white;
  opacity: 70%;

  padding: 5px 10px;
  font-size: 3.5vw;
  text-align: justify;

  border-radius: 5px;
}

#card_text p {
  margin: 0 0 10px 0;
  line-height: 100%;
}

#card_text img {
  width: 10%;
}

#pokeball {
  text-align: center;
}

h2 {
  font-weight: 900;
  text-align: center;
  background-color: rgb(161, 161, 161);
  color: #000;
  border-radius: 5px;
}

.svg_home{
  display: block;
  height: 31px;
  width: 31px;
  margin: 2px 0;
}

#menu a , #rodadas_menu a, .svg_home{
  color: #ccc;
  fill: #ccc;
  font-size: 1.6rem;
  font-weight: 900;
}

#rodadas_menu a{
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 15px;
  margin-bottom: 5px;
  background-color: #777;
  color: #eee;
}


#menu a:hover , #rodadas_menu a:hover , .svg_home:hover{
  color: rgb(157, 219, 100);
  fill: rgb(157, 219, 100);
}

#menu a{
  font-size: 1.4rem;
}

@media (min-width: 396px){
  #menu a{
    font-size: 1.6rem;
  } 
}

#menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

#menu .selected , #rodadas_menu .selected , #menu .selected .svg_home{
  color: rgb(240, 184, 29);
  fill: rgb(240, 184, 29);
}

.partida {
  cursor: pointer;
}


.bloco_itens {
  list-style-position: inside;
  padding-left: 0;
  border-radius: 5px;
  overflow: hidden;
}

.bloco_itens li {
  background-color: #d1d1d1;
  border-bottom: 1px dashed #888;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.bloco_itens li.li_pokemon {
  padding-left: 0;
}

#rodadas {
  --display: none;
}

.bloco {
  display: flex;
  --outline: dashed purple;
  margin-bottom: 15px;
}

.bloco h3 {
  width: 140px;
  height: 140px;
  transform: rotate(-90deg);
  color: #222;
  margin: 0;
  left: -57px;
  position: absolute;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloco_numero {
  min-width: 30px;
  background-color: #a1a1a1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.bloco_itens {
  flex-grow: 1;
  margin: 0;
  list-style: none;
}

.bloco_itens li:nth-child(5) , .dupla li:nth-child(1),  .dupla li:nth-child(3){
  color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 10%);
}

.bloco_itens li{
  color: hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 80%);
}

.hidden{
  display: none !important;
}


.pokemon_list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.pokemon_list .pokemon {
  text-align: center;
  width: 33.334%;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.pokemon_list .pokemon:nth-child(n + 4) {
  border-bottom: 0;
  border: 0;
  padding-bottom: 0;
}

.pokemon_list .pokemon-img {
  height: 48px;
  width: 48px;
}

.pokemon_list .pokemon-cp {
  font-weight: bold;
}

.pokemon_list .pokemon-nome {
  margin-top: -12px;
  font-size: 0.8rem;
}

@media (min-width: 700px) {
  .pokemon_list .pokemon {
    width: 16.666%;
    border-bottom: 0;
  }
  .pokemon_list .pokemon img {
    height: 96px;
    width: 96px;
  }
}

#participantes {
  display: none;
}

@media (min-width: 700px) {
  #container {
    width: 700px;
    margin: auto;
  }

  #card_text {
    font-size: 24px;
  }
}

.jogo {
  display: static;
}

.resultados_partidas li{
  padding-left: 0;
}

.resultados_partidas li.vencedor_partida{
  text-align: center;
}

.jogo .resultado1-left , 
.jogo .resultado1-right
.jogo .resultado2{
  display: inline-block;
  
}

.jogo .resultado1-right {
  display: none;
}



.jogo .jogador-vs {
  display: none;
}

.jogo .jogador1,
.jogo .jogador2 {
  display: flex;
  align-items: center;
}

.jogo input {
  width: 30px;
  margin: 0 5px;
  box-sizing: border-box;
  text-align: center;
  height: 22px;
}

.jogo input, .jogo .jogador1{
  padding-bottom: 2px;
}

.jogo .jogador-nome {
  width: 130px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 396px) {
  .jogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .jogo .resultado1-left {
    display: none;
  }
  .jogo .resultado1-right {
    display: inline-block;
  }
  .jogo .jogador1 .jogador-nome {
    text-align: right;
  }
  .jogo .jogador-vs {
    display: block;
  }
  .jogo input, .jogo .jogador1{
    padding-bottom: 0;
  }
}

th {
  color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 10%);
}

th,
td {
  padding: 5px 10px;
}

table {
  width: 100%;
  text-align: center;
}

tbody tr {
  color: hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 80%);
}

.text-left {
  text-align: left;
}

#legenda {
  font-size: 0.9rem;
  text-align: center;
  color: hsl(0, 0%, 80%);
  margin: 20px 0;
}
